RewriteEngine On

RewriteCond %{HTTP_HOST} !^www\.kerkeninhilversum\.nl$ [NC]
RewriteRule ^ https://www.kerkeninhilversum.nl%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP:X-Forwarded-Proto} !https [NC]
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
